<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableviewCellCalculateHeightDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>231D5E871D65509E00BC7286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>231D5EA01D65509F00BC7286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>231D5EAB1D65509F00BC7286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
