<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>likeUsers</key>
		<array>
			<dict>
				<key>userName</key>
				<string>小明</string>
				<key>userAvatar</key>
				<string>http://img15.3lian.com/2015/h1/280/d/10.jpg</string>
			</dict>
			<dict>
				<key>userName</key>
				<string>小刚</string>
				<key>userAvatar</key>
				<string>http://image.tianjimedia.com/uploadImages/2014/225/42/8D530478034A.jpg</string>
			</dict>
			<dict>
				<key>userName</key>
				<string>小红</string>
				<key>userAvatar</key>
				<string>http://pic1.win4000.com/wallpaper/f/57198be8a364b.jpg</string>
			</dict>
			<dict>
				<key>userName</key>
				<string>小志</string>
				<key>userAvatar</key>
				<string>http://t1.ituba.cc/mm8/tupai/20150911/peensxiloh2.jpg</string>
			</dict>
		</array>
		<key>headIcon</key>
		<string>GroupCopy</string>
		<key>userName</key>
		<string>小哥</string>
		<key>publishTime</key>
		<string>2016-8-23</string>
		<key>content</key>
		<string>九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙</string>
		<key>pictures</key>
		<array>
			<string>http://scimg.jb51.net/allimg/150925/14-1509250Z615109.jpg</string>
			<string>http://imglf0.ph.126.net/_-UewM4c2J1TeCgCa9eh4Q==/1422856007372388081.jpg</string>
			<string>http://img.51ztzj.com/upload/image/20150305/dn201502104010_670x419.jpg</string>
			<string>http://img01.taopic.com/160117/318752-16011F9334648.jpg</string>
			<string>http://img4.duitang.com/uploads/item/201501/15/20150115113616_4KARK.jpeg</string>
			<string>http://img15.3lian.com/2015/h1/267/d/199.jpg</string>
			<string>http://desk.fd.zol-img.com.cn/g5/M00/0C/04/ChMkJlX7vtOIKeziAAVUmQGqF-MAACwzwGuBuAABVSx961.jpg</string>
			<string>http://a.hiphotos.baidu.com/zhidao/pic/item/79f0f736afc379314a650b4eeac4b74543a91143.jpg</string>
		</array>
		<key>commentList</key>
		<array>
			<dict>
				<key>commnet</key>
				<string>九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>貌似正气凛然，未经世事小屁孩轻言国事；其实邪灵附体，饱受西化兔崽子焉论乾坤</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>小青年质疑大师，宣扬西方才存光明；司马南舌战群丑，证明中国还有良心</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>向往西方制度，骂中国腐败，骂中国独裁，骂中国不公，骂中国主席，就是不骂西方走狗。脱离中国实际，要西式清明，要西式民主，要西式公平，要西方总统，唯独只贬中华英雄。</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>未调查，未劳动，未实践，就敢大放厥词，并引以为荣；只读书，只冥想，只质疑，其实不明真理，应视之当耻</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>likeUsers</key>
		<array/>
		<key>headIcon</key>
		<string>GroupCopy</string>
		<key>userName</key>
		<string>小明</string>
		<key>publishTime</key>
		<string>2016-8-24</string>
		<key>content</key>
		<string>貌似正气凛然，未经世事小屁孩轻言国事；其实邪灵附体，饱受西化兔崽子焉论乾坤</string>
		<key>pictures</key>
		<array>
			<string>http://img15.3lian.com/2015/h1/280/d/10.jpg</string>
			<string>http://image.tianjimedia.com/uploadImages/2014/225/42/8D530478034A.jpg</string>
			<string>http://pic1.win4000.com/wallpaper/f/57198be8a364b.jpg</string>
			<string>http://t1.ituba.cc/mm8/tupai/20150911/peensxiloh2.jpg</string>
			<string>http://www.bz55.com/uploads/allimg/150604/139-150604141346.jpg</string>
		</array>
		<key>commentList</key>
		<array>
			<dict>
				<key>commnet</key>
				<string>貌似正气凛然，未经世事小屁孩轻言国事；其实邪灵附体，饱受西化兔崽子焉论乾坤</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>小青年质疑大师，宣扬西方才存光明；司马南舌战群丑，证明中国还有良心</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>向往西方制度，骂中国腐败，骂中国独裁，骂中国不公，骂中国主席，就是不骂西方走狗。脱离中国实际，要西式清明，要西式民主，要西式公平，要西方总统，唯独只贬中华英雄。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>likeUsers</key>
		<array/>
		<key>headIcon</key>
		<string>GroupCopy</string>
		<key>userName</key>
		<string>小智</string>
		<key>publishTime</key>
		<string>2016-8-24</string>
		<key>content</key>
		<string>小青年质疑大师，宣扬西方才存光明；司马南舌战群丑，证明中国还有良心</string>
		<key>pictures</key>
		<array>
			<string>http://img15.3lian.com/2015/h1/280/d/10.jpg</string>
			<string>http://image.tianjimedia.com/uploadImages/2014/225/42/8D530478034A.jpg</string>
			<string>http://pic1.win4000.com/wallpaper/f/57198be8a364b.jpg</string>
			<string>http://t1.ituba.cc/mm8/tupai/20150911/peensxiloh2.jpg</string>
			<string>http://www.bz55.com/uploads/allimg/150604/139-150604141346.jpg</string>
		</array>
		<key>commentList</key>
		<array>
			<dict>
				<key>commnet</key>
				<string>貌似正气凛然，未经世事小屁孩轻言国事；其实邪灵附体，饱受西化兔崽子焉论乾坤</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>小青年质疑大师，宣扬西方才存光明；司马南舌战群丑，证明中国还有良心</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>向往西方制度，骂中国腐败，骂中国独裁，骂中国不公，骂中国主席，就是不骂西方走狗。脱离中国实际，要西式清明，要西式民主，要西式公平，要西方总统，唯独只贬中华英雄。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>likeUsers</key>
		<array>
			<dict>
				<key>userName</key>
				<string>小明</string>
				<key>userAvatar</key>
				<string>http://img15.3lian.com/2015/h1/280/d/10.jpg</string>
			</dict>
			<dict>
				<key>userName</key>
				<string>小刚</string>
				<key>userAvatar</key>
				<string>http://image.tianjimedia.com/uploadImages/2014/225/42/8D530478034A.jpg</string>
			</dict>
			<dict>
				<key>userName</key>
				<string>小红</string>
				<key>userAvatar</key>
				<string>http://pic1.win4000.com/wallpaper/f/57198be8a364b.jpg</string>
			</dict>
			<dict>
				<key>userName</key>
				<string>小志</string>
				<key>userAvatar</key>
				<string>http://t1.ituba.cc/mm8/tupai/20150911/peensxiloh2.jpg</string>
			</dict>
		</array>
		<key>headIcon</key>
		<string>GroupCopy</string>
		<key>userName</key>
		<string>小哥</string>
		<key>publishTime</key>
		<string>2016-8-23</string>
		<key>content</key>
		<string>九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙</string>
		<key>pictures</key>
		<array>
			<string>http://scimg.jb51.net/allimg/150925/14-1509250Z615109.jpg</string>
			<string>http://imglf0.ph.126.net/_-UewM4c2J1TeCgCa9eh4Q==/1422856007372388081.jpg</string>
			<string>http://img.51ztzj.com/upload/image/20150305/dn201502104010_670x419.jpg</string>
			<string>http://img01.taopic.com/160117/318752-16011F9334648.jpg</string>
			<string>http://img4.duitang.com/uploads/item/201501/15/20150115113616_4KARK.jpeg</string>
			<string>http://img15.3lian.com/2015/h1/267/d/199.jpg</string>
			<string>http://desk.fd.zol-img.com.cn/g5/M00/0C/04/ChMkJlX7vtOIKeziAAVUmQGqF-MAACwzwGuBuAABVSx961.jpg</string>
			<string>http://a.hiphotos.baidu.com/zhidao/pic/item/79f0f736afc379314a650b4eeac4b74543a91143.jpg</string>
		</array>
		<key>commentList</key>
		<array>
			<dict>
				<key>commnet</key>
				<string>九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>貌似正气凛然，未经世事小屁孩轻言国事；其实邪灵附体，饱受西化兔崽子焉论乾坤</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>小青年质疑大师，宣扬西方才存光明；司马南舌战群丑，证明中国还有良心</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>向往西方制度，骂中国腐败，骂中国独裁，骂中国不公，骂中国主席，就是不骂西方走狗。脱离中国实际，要西式清明，要西式民主，要西式公平，要西方总统，唯独只贬中华英雄。</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>未调查，未劳动，未实践，就敢大放厥词，并引以为荣；只读书，只冥想，只质疑，其实不明真理，应视之当耻</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>likeUsers</key>
		<array/>
		<key>headIcon</key>
		<string>GroupCopy</string>
		<key>userName</key>
		<string>小明</string>
		<key>publishTime</key>
		<string>2016-8-24</string>
		<key>content</key>
		<string>貌似正气凛然，未经世事小屁孩轻言国事；其实邪灵附体，饱受西化兔崽子焉论乾坤</string>
		<key>pictures</key>
		<array>
			<string>http://img15.3lian.com/2015/h1/280/d/10.jpg</string>
			<string>http://image.tianjimedia.com/uploadImages/2014/225/42/8D530478034A.jpg</string>
			<string>http://pic1.win4000.com/wallpaper/f/57198be8a364b.jpg</string>
			<string>http://t1.ituba.cc/mm8/tupai/20150911/peensxiloh2.jpg</string>
			<string>http://www.bz55.com/uploads/allimg/150604/139-150604141346.jpg</string>
		</array>
		<key>commentList</key>
		<array>
			<dict>
				<key>commnet</key>
				<string>貌似正气凛然，未经世事小屁孩轻言国事；其实邪灵附体，饱受西化兔崽子焉论乾坤</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>小青年质疑大师，宣扬西方才存光明；司马南舌战群丑，证明中国还有良心</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>向往西方制度，骂中国腐败，骂中国独裁，骂中国不公，骂中国主席，就是不骂西方走狗。脱离中国实际，要西式清明，要西式民主，要西式公平，要西方总统，唯独只贬中华英雄。</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
