<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headIcon</key>
		<string>GroupCopy</string>
		<key>userName</key>
		<string>小哥</string>
		<key>publishTime</key>
		<string>2016-8-23</string>
		<key>content</key>
		<string>九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙</string>
		<key>pictures</key>
		<array>
			<string>dog1</string>
			<string>dog2</string>
			<string>dog3</string>
			<string>dog4</string>
			<string>dog5</string>
			<string>cat1</string>
			<string>cat2</string>
			<string>seal</string>
		</array>
		<key>commentList</key>
		<array>
			<dict>
				<key>commnet</key>
				<string>九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>貌似正气凛然，未经世事小屁孩轻言国事；其实邪灵附体，饱受西化兔崽子焉论乾坤</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>小青年质疑大师，宣扬西方才存光明；司马南舌战群丑，证明中国还有良心</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>向往西方制度，骂中国腐败，骂中国独裁，骂中国不公，骂中国主席，就是不骂西方走狗。脱离中国实际，要西式清明，要西式民主，要西式公平，要西方总统，唯独只贬中华英雄。</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>未调查，未劳动，未实践，就敢大放厥词，并引以为荣；只读书，只冥想，只质疑，其实不明真理，应视之当耻</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headIcon</key>
		<string>GroupCopy</string>
		<key>userName</key>
		<string>小哥</string>
		<key>publishTime</key>
		<string>2016-8-23</string>
		<key>content</key>
		<string>九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙九霄龙吟惊天变风。九霄龙吟惊天变风云际会浅水游，金鳞岂是池中物一遇风云变化龙。</string>
		<key>pictures</key>
		<array>
			<string>dog1</string>
			<string>dog3</string>
			<string>dog4</string>
			<string>cat1</string>
			<string>seal</string>
		</array>
		<key>commentList</key>
		<array>
			<dict>
				<key>commnet</key>
				<string>貌似正气凛然，未经世事小屁孩轻言国事；其实邪灵附体，饱受西化兔崽子焉论乾坤</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>小青年质疑大师，宣扬西方才存光明；司马南舌战群丑，证明中国还有良心</string>
			</dict>
			<dict>
				<key>commnet</key>
				<string>向往西方制度，骂中国腐败，骂中国独裁，骂中国不公，骂中国主席，就是不骂西方走狗。脱离中国实际，要西式清明，要西式民主，要西式公平，要西方总统，唯独只贬中华英雄。</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
